html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Setting standards */

html {
    font-size: 125%;
}

body {
    background: #99582A;
    color: #FFE6A7;
    overflow: hidden;
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
}

h1,
h2,
p,
span, 
a {
    padding: 0;
    margin: 0;
}

a {
    color: #FFE6A7;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: rgba(192, 192, 192, 0.651);
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    padding-bottom: 7px;
    color: #BB9457;
}

p {
    line-height: 1.3em;
    font-size: 0.9rem;
}


.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

/* Creating background for goo effect */

.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    filter: url(#goo);

}

/* styling for song player */

.contentContainer {
   margin: 70px auto 0 auto;
}

.songContainer {
    display: flex;
    background: #432818;
    border-radius: 1.5rem;
    box-shadow: 0 0rem 3rem #6F1D1B;
    margin-bottom: 50px;
}

/* Container for gif image */

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.details {
    display: flex;
    justify-content: space-between;
}

.player {
    width: 100%;
    height: 100%;
    padding: 15px 15px 0 15px;
}

.time {
    color: #99582A;
}

/* styles for button */

.controls {
    display: flex;
    align-items: flex-end;
    width: 5.8rem;
    height: 3.5rem;
    justify-content: space-between;
}

.playPause {
    width: 3.5rem;
    height: 3.5rem;
    background: #6F1D1B;
    color: #BB9457;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0rem #6F1D1B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 7px;
    transition: all 0.2s ease-out;
}

.stop {
    width: 2rem;
    height: 2rem;
    background: #6F1D1B;
    color: #BB9457;
    cursor: pointer;
    border-radius: 45%;
    box-shadow: 0 0 0rem #6F1D1B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 4px 0 0 0;
    transition: all 0.2s ease-out;
}



.playPause:hover {
    font-size: 1.6rem;
    box-shadow: 0 0 0.2rem #BB9457;
}


.stop:hover {
    font-size: 1rem;
    box-shadow: 0 0 0.2rem #BB9457;
}

/* no diggity no doubt images */

.contentImage {
    width: 100px;
    height: 100px;
    border-radius: 7px;
}

/* Sample discription */

.description {
    width: 100%;
    text-align: center;
    padding: 0 160px;

}

/* P tag with question */

.question {
    padding-top: 10px;
    padding-bottom: 5px;
}

/* styling for footer area  */

footer {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

footer div i {
    margin: 0 10px;
    font-size: 1.3rem;
}

footer div {
    padding-top: 30px;
}

/* falling round balls */

.particle {
    width: 100px;
    height: 100px;
    top: -20%;
    background: #432818;
    position: absolute;
    z-index: -10;
    border-radius: 50%;
    animation: fall 15s infinite;
}

/* animation for balls  */

@keyframes fall {
    0% {top: -20%;}
    20% {top: 0%;}
    80% {top: 85%;}
    100% {top: 100%;}
}

/* changes the styles for each ball to make them more unique */

.particle:nth-of-type(2n) {
    width: 60px;
    height: 60px;
}
.particle:nth-of-type(3n) {
    width: 120px;
    height: 120px;
}
.particle:nth-of-type(1) {
    left: 30%;
    animation-delay: 1s;
}
.particle:nth-of-type(2) {
    left: 60%;
    animation-delay: 2s;
}
.particle:nth-of-type(3) {
    left: 25%;
    animation-delay: 3s;
}
.particle:nth-of-type(4) {
    left: 75%;
    animation-delay: 4s;
}
.particle:nth-of-type(5) {
    left: 35%;
    animation-delay: 5s;
}
.particle:nth-of-type(6) {
    left: 50%;
    animation-delay: 6s;
}
.particle:nth-of-type(7) {
    left: 65%;
    animation-delay: 77s;
}
.particle:nth-of-type(8) {
    left: 35%;
    animation-delay: 8s;
}
.particle:nth-of-type(9) {
    left: 55%;
    animation-delay: 9s;
}
.particle:nth-of-type(10) {
    left: 55%;
    animation-delay: 10s;
}
.particle:nth-of-type(11) {
    left: 35%;
    animation-delay: 11s;
}
.particle:nth-of-type(12) {
    left: 50%;
    animation-delay: 12s;
}
.particle:nth-of-type(13) {
    left: 65%;
    animation-delay: 13s;
}
.particle:nth-of-type(14) {
    left: 40%;
    animation-delay: 14s;
}
.particle:nth-of-type(15) {
    left: 60%;
    animation-delay: 15s;
}

/* Top and bottom borders */

.border {
    position: absolute;
    background: #432818;
    width: 100%;
    height: 10%;
}

.bTop {
    top: 0;
    left: 0;
}
.bBottom {
    bottom: 0;
    left: 0;
}

/* start of media queries */

@media (max-width: 1000px) {
    .border {
        height: 7%;
    }


}
@media (max-width: 820px) {
   .songContainer {
       width: 100%;
   }

   .description {
       padding: 0;
   }


}
@media (max-width: 750px) {
    .particle, .border {
        display: none;

    }

    .background {
        filter: none;
        overflow-y:scroll;
        height: 1200px;
    }
    
    body {
        overflow-y:scroll ;

    }



    svg {
        display: none;
    }

    .songContainer {
        flex-direction: column;
    }
}

@media (max-width: 750px) {
    .details {
        flex-direction: column;
    }

    .controls {
    margin-top: 12px;
    }
}

@media (max-width: 450px) {
    .contentContainer {
   margin: 0 auto;
}
}